Repository yotsubo4242/miniRT, pull requests merged in 2025-02, with the labels that each got.

#22 [#21] modified: main.c: file length 3 to 4
  src/main.c
Labels: bug

#26 24 feat parse rgb
  .github/workflows/norm.yml
  .gitignore
  CMakeLists.txt
  Makefile
  include/scene.h
  includes/header.h
  libft/Makefile
  libft/includes/libft.h
  libft/libft.a
  libft/srcs/ft_str/ft_strall.c
  libft/srcs/ft_to/ft_atol.c
  libmlx/.github/workflows/ci.yml
  libmlx/.gitignore
  src/drawing/Makefile
  src/drawing/main.c
  src/scene/getter_rgb.c
  src/scene/parse_line_env.c
  src/scene/parse_uint.c
  src/scene/parse_vec.c
  src/scene/vector.c
  src/share/vector/dot.c
  src/share/vector/mag.c
  src/share/vector/normalize.c
  tests/test_parser.cpp
Labels: scene

#39 15 feat camera
  .github/workflows/ctest.yml
  .github/workflows/norm.yml
  CMakeLists.txt
  Makefile
  compile_commands.json
  include/scene.h
  include/vector.h
  src/drawing/include/header.h
  src/scene/getter_rgb.c
  src/scene/in_range.c
  src/scene/parse.c
  src/scene/parse_line_env.c
  src/scene/parse_vec.c
  src/share/Makefile
  src/share/vector/dot.c
  src/share/vector/mag.c
  src/share/vector/normalize.c
  tests/CMakeLists.txt
  tests/test_parser.cpp
Labels: scene

#45 [#32] s_color double to int
  .gitignore
  CMakeLists.txt
  Makefile
  compile_commands.json
  include/scene.h
  src/scene/args_to_vec.c
  src/scene/getter_rgb.c
  src/scene/parse_vec.c
  tests/CMakeLists.txt
  tests/test_parser.cpp
Labels: scene

#46 28 cylinder phong model
  libft/libft.a
  src/drawing/Makefile
  src/drawing/draw/cylinder.c
  src/drawing/draw/cylinder_utils.c
  src/drawing/draw/sphere.c
  src/drawing/include/header.h
  src/drawing/init/init_scene.c
  src/drawing/main.c
  src/drawing/phong_shading/cy_diffuse.c
  src/drawing/phong_shading/diffuse.c
  src/drawing/phong_shading/phong_shading.c
  src/drawing/phong_shading/specular.c
  src/share/Makefile
  src/share/include/vector.h
  src/share/vector/vec_cross.c
  src/share/vector/vec_div.c
  src/share/vector/vec_dup.c
  src/share/vector/vec_plus.c
Labels: heavy

#47 [#16] add: parse_light
  .github/workflows/ctest.yml
  include/scene.h
  src/scene/parse.c
  src/scene/parse_line_env.c
  tests/test_parser.cpp
Labels: scene

#52 [#18] feat: parse plane
  include/scene.h
  scenes/sample.rt
  src/scene/parse_line_each_object.c
  src/scene/parse_line_object.c
  tests/test_parser.cpp
Labels: scene

#53 19 feat cylinder
  CMakeLists.txt
  Makefile
  src/scene/parse.c
  src/scene/parse_line_each_object.c
  src/scene/parse_line_object.c
  src/scene/scene.h
  src/share/Makefile
  tests/CMakeLists.txt
  tests/test_parser.cpp
Labels: scene
